*{
    box-sizing: border-box;
    margin: 0;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
*:not(table){
    margin-bottom: 5px;
}

#hidden{
    display: none;
}

button{
    text-shadow: none;
    height: 30px;
    width: 80px;
}
body{
    background-color: #333;
    color: aliceblue;
    width: 100vw;
    text-align: center;
    display: flex;
    flex-flow: column;
    align-content: center;
    justify-content: center;
}
header,
#wrap
{
    text-align: center;
    margin: 10px auto;
    width: 60vw;
    height: 80vh;
}
#table-container{
    text-align: center;
    margin: 10px auto;
    width: 100%;
    min-height: 50px;
}

table{
    margin: 0 auto;
    min-height: 30px;
    width: 40%;
}

header{
    font-style: italic;
    font-size: 2.5em;
    height: 10vh;
}
#input-field{
    text-shadow: none;
}

#canvas-container{
    margin: 10px auto;
    width: 400px;
    height: 400px;
}
